* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav-link:hover,
.navbar-brand:hover {
    color: rgb(224, 248, 6) !important;
    font-weight: 600;
    transition: color 0.4s ease;

}

.navbar {
    background-color: blue;
}

.ps {
    width: 200px;
    box-shadow: 2px 0px 8px 8px rgba(86, 204, 240, 0.87);
}


.aboutme {
    text-align: justify;
    margin: 50px;

}

q {
    quotes: "“" "”";
}


/* whatsapp, linkedin, github= icon, circleback,bi */
.icon {
    top: 200px;
    width: 200px;
}

.circleback {
    color: rgb(13, 90, 3);
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(165, 252, 5);
    border-radius: 50%;
    box-shadow: 1px 0px 5px 2px rgba(4, 230, 238, 0.87);
    display: flex;
    align-items: center;
    justify-content: center;


}

.bi {
    left: 6px;
    top: 1.5px;

}


.course {
    border-radius: 10px;
    text-align: center;
    color: rgb(15, 15, 15);
    background-image: linear-gradient(195deg, rgb(23, 252, 2), rgba(7, 212, 248, 0.87));
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 2px 5px 4px rgba(7, 212, 248, 0.87);
}

.proj {
    border-radius: 10px;
    text-align: center;
    margin: 40px;
    box-shadow: 1px 2px 5px 4px rgba(243, 90, 1, 0.87);
    height: 45vh;
    display: grid;
    align-items: center;
    justify-content: center;
}


.course:hover {
    background-image: linear-gradient(195deg, rgb(2, 181, 252), rgba(75, 248, 7, 0.87));
    color: black;
    font-weight: 500;
}

.skills {
    width: 400px;
}

form {
    width: 500px;
    padding: 5px;
    margin: 1px;

}

.btn {
    border: none;
    width: 490px;
    background: blue !important;
    color: aliceblue;
}

.contact {
    text-align: center;
}

.footer {
    height: 50px;
    background-color: rgba(5, 157, 245, 0.678);

}

.btn:hover {
    background-color: rgb(243, 2, 2) !important;
    border-style: none;
    color: rgb(242, 242, 243) !important;
    font-weight: bold;

}

.skillbox {
    width: 900px;
}